<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgpgit.open.androidbase">
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"/>
</manifest>
